<div class="about d-flex align-items-center">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6">
        <div data-aos="fade-right" data-aos-duration="1000" class="p-sm-4 px-4">
          <img class="img-fluid rounded-3" src="../../../assets/popcorn.png" alt="">
        </div>
      </div>
      <div class="col-lg-6 px-4 px-sm-4 px-lg-2 px-xl-5 mt-4">
        <div data-aos="fade-left" data-aos-duration="1000" class="about-text">
         <h2 class="h1 fw-bold mb-4">About Vodix Cinema</h2>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus molestiae provident laudantium eos? Totam possimus numquam aliquid cum nostrum, odit omnis deleniti dicta nihil quae veritatis porro magnam tempore, asperiores cupiditate voluptate ipsum natus exercitationem at delectus, quos perspiciatis iste corporis laudantium. Minima aut nemo doloremque, sequi deleniti voluptatem non enim, nostrum quae dolorem libero expedita? Nulla, quas. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni nulla accusantium sed explicabo velit placeat veritatis sapiente fuga illo perferendis?</p>
        </div>
       </div>
    </div>
  </div>
</div>
